<!DOCTYPE html>
<head>
  <title>{{ settings["title"] }}</title>
  <style>
    body {
	background-color: {{ settings["background-color"] }};
	font-family: {{ settings["font"] }};
    }
    .admin-console {
	width: 100%;
	display: table;
	border: solid;
    }
    .admin-console form {
	width: 100%;
	display: table-row;
    }
    .admin-console label {
	display: table-cell;
    }
    .admin-console input {
	display: table-cell;
    }
    .admin-console select {
	display: table-cell;
    }
    .admin-console button {
	display: table-cell;
    }
    .admin-console th {
	background-color: {{ settings["even-color"] }}
    }
    .content {
	margin: auto;
	width: 80vmax;
	display: grid;
    }
    .content h1 {
	text-align: center;
    }
    .content table {
	font-size: large;
	table-layout: auto;
	width: 100%;
	padding-bottom: 1vmax;
    }
    .content-entry {
	padding: 1vmin;
    }
    .content-entry:nth-of-type(even) {
	background-color: {{ settings["even-color"] }};
    }
    .content-entry:nth-of-type(odd) {
	background-color: {{ settings["odd-color"] }};
    }
  </style>
</head>
<body>
  <!--                         ADMIN CONSOLE
	We only want to show this if the user is logged in as admin.  
	Note that this does not prevent an attacker with non-admin 
	credentials from cURLing around the page, so it will still need
	to be validated on the server side.
    -->
  {% if user == settings["admin_username"] %}
  <div class="admin-console">
    <table>
      <!--REMOVE USER-->
      <form method="post">
	<input type="hidden" id="form-id" name="form-id"
	       value="admin-remove-user">
	<tr>
	  <th><label>Remove User</label></th>
	  <td>
	    <span>
	      <select id="username" name="username">
	      {% for user in users %}
	      {% if user != settings["admin_username"] %}
	      <option>{{ user.username }}</option>
	      {% endif %}
	      {% endfor %}
	      </select>
	      <button type="submit">Remove</button>
	    </span>
	  </td>
      </form>
      
      <!--ADD USER-->
      <form method="post">
	<input type="hidden" id="form-id" name="form-id" value="admin-add-user">
	<tr>
	  <th><label>Add User</label></th>
	  <td>
	    <span>
	      <label>Username</label>
	      <input type="text" id="username" name="username">
	    </span>
	    <span>
	      <label>Password</label>
	      <input type="text" id="password" name="password">
	    </span>
	    <button type="submit">Add</button>
	  </td>
	</tr>
      </form>
    </table>
  </div>
  {% endif %}

  <!--                           PAGE CONTENT
      
    -->
  <div class="content">
    <h1>{{ settings["title"] }}</h1>

    {% for day in schedule.days %}
    <div class="content-entry">
      <h2>{{ day.date().isoformat() }}</h2>
      
      <table>
	<tbody>
	  {% for event in schedule.get_events(day) %}
	  <tr>
	    <td>{{ event.start.time().isoformat()[:5] }}</td>
	    <td>{{ event.end.time().isoformat()[:5] }}</td>
	    <td>{{ event.who }}</td>
	    <td>{{ event.what }}</td>
	    {% if user == event.who or user == settings["admin_username"] %}
	    <td>
	      <form method="post">
		<input type="hidden" id="form-id" name="form-id"
		       value="remove-event"/>
		<input type="hidden" id="remove-event-day"
		       name="remove-event-day"
		       value="{{ day.date().isoformat() }}">
		<input type="hidden" id="remove-event-start"
		       name="remove-event-start"
		       value="{{ event.start.time() }}">
		<input type="hidden" id="remove-event-end"
		       name="remove-event-end" value="{{ event.end.time() }}">
		<input type="hidden" id="remove-event-who"
		       name="remove-event-who" value="{{ event.who }}">
		<input type="hidden" id="remove-event-what"
		       name="remove-event-what" value="{{ event.what }}">
		<button type="submit">Remove</button>
	      </form>
	    </td>
	    {% endif %}
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
      <form method="post">
	<input type="hidden" id="form-id" name="form-id" value="submit-event">
	<input type="hidden" id="submit-event-day" name="submit-event-day"
	       value="{{ day.date().isoformat() }}">
	<label>Event</label>
	<input type="text" id="submit-event-what" name="submit-event-what">
	<label>Start</label>
	<input type="time" id="submit-event-start" name="submit-event-start">
	<label>End</label>
	<input type="time" id="submit-event-end" name="submit-event-end">
	<button type="submit">Book</button>
      </form>
    </div>
    {% endfor %}
  </div>
</body>
